In [1]:
#looping through a tuple
fruits=("apple","banana","cherry")
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
fruits=("apple","banana","cherry")
for x in range(len(fruits)):
    print(fruits[x])

apple
banana
cherry

In [3]:
#using while loop
fruits=("apple","banana","cherry")
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

apple
banana
cherry

In [4]:
#join tuples
t1=("akhil","nikhil")
t2=(1,2,3)
t3=t1+t2
t3

('akhil', 'nikhil', 1, 2, 3)

In [5]:
t1=("akhil","nikhil")
t2=t1*2
t2

('akhil', 'nikhil', 'akhil', 'nikhil')

In [6]:
t2

('akhil', 'nikhil', 'akhil', 'nikhil')

In [7]:
t2.count("akhil")

2

In [8]:
t2.index("akhil")

0