## OPERATORS IN PYTHON

Operators are used to perform operations on variables and values. In python, there are following basic operators:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

### Arithemetic

In [1]:
2+3

5

In [2]:
a=5
b=6
print(a+b)

11

In [4]:
a=5
b=-6
print(b-a)

-11

In [5]:
a=5
b=4
print(a-b)

1

In [6]:
a=5
b=4
print(a*b)

20

In [10]:
a=4
b=2
print(a/b)

2.0

In [11]:
a=5
b=2
print(a**b)

25

In [13]:
a=14
b=5
print(a/b)

2.8

In [15]:
p=3.14
r=5
c=p*(r*r)
c

78.5

In [17]:
p=3.14
r=5
c=p*(r**2)
c

78.5

In [18]:
a=3**3

In [19]:
a

27

In [29]:
b=27
print(b//2)

13

### Assignment operator

In [28]:
x=20
print("Line1-value of x is:",x)
x+=10
print("Line2-value of x is:",x)
x-=20
print("Line3-value of x is:",x)
x=x*2
print("Line4-value of x is:",x)
x**=3
print("Line5-value of x is:",x)
x//=10
print("Line6-value of x is:",x)
x=x-790
print("Line7-value of x is:",x)
x=x%3
print("Line8-value of x is:",x)

Line1-value of x is: 20
Line2-value of x is: 30
Line3-value of x is: 10
Line4-value of x is: 20
Line5-value of x is: 8000
Line6-value of x is: 800
Line7-value of x is: 10
Line8-value of x is: 1

### Logical Operators

In [37]:
a=2
b=3
print(a>5 and b<2)

False

In [39]:
a>5 or b<5

True

In [40]:
not(a>5 and b<2)

True

In [41]:
not(a>5 or b<5)

False

### Identity operators

In [52]:
a=["1","2"]
b=["1","2"]
c=a
print(a is c)
#print(a is not c)

True

### membership operators

In [54]:
x=["akhil","nikhil"]
print("akhil" in x)

True

In [58]:
x="akhil"
print("khi" in x)

True